.help_chat_container {
  position: relative;
  top: 100px;
  width: 80%;
  left: 10%;
}
.help_chat_heading {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  color: #636466;
  margin-bottom: 20px;
}

.help_chat_box_container {
  display: flex;
  padding: 0px 4px 5px 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.59);
  max-height: 750px;
  min-height: 750px;
}
.help_chat_user_area {
  width: 30%;
  display: flex;
  flex-direction: column;
  max-height: 750px;
  min-height: 750px;
  overflow: auto;
}
.help_chat_user_area::-webkit-scrollbar {
  width: 8px;
  background-color: #c6c6c6;
}
.help_chat_user_area::-webkit-scrollbar-thumb {
  background-color: #78be20;
  border-radius: 5px;
}
.help_chat_user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px;
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
}
.help_chat_user.active {
  background-color: #78be20;
  color: white;
}
.help_chat_user_heading {
  display: flex;
  background-color: white;
  justify-content: center;
  padding: 10px 0px;
  margin-bottom: 10px;
  border-top-left-radius: 10px;
  box-shadow: 4px 4px 12px -4px rgba(0, 0, 0, 0.3);
}
.help_chat_user_heading h1 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}
.chat_user_icon {
  margin-right: 15px;
  font-size: 40px;
  color: #78be20;
}

.help_chat_user_dp {
  border: 3px solid #78be20;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.help_chat_user_dp.active {
  border: 3px solid white;
  box-shadow: 0px 0px 22px 3px #e7e9e5;
}
.help_chat_user_dp img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.help_chat_user_name p {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
}

.help_chat_message_area {
  width: 70%;
  /* border: 1px solid; */
  padding: 0px 0px 10px 0px;
}
.help_chat_message_head {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  padding: 5px 0px 5px 15px;
  gap: 15px;
}
.help_chat_message_dp {
  height: 50px;
  width: 50px;
  border: 3px solid #78be20;
  border-radius: 50%;
}
.help_chat_message_dp img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.help_chat_message_name h3 {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
.help_chat_message_head_body {
  margin-top: 10px;
  min-height: 580px;
  max-height: 580px;
  overflow: auto;
  padding: 10px 20px;
  background-image: url("/public/image/chatbackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.help_chat_message_head_body::-webkit-scrollbar {
  width: 8px;
  background-color: #c6c6c6;
}
.help_chat_message_head_body::-webkit-scrollbar-thumb {
  background-color: #78be20;
  border-radius: 5px;
}
.help_chat_message_send {
  display: flex;
  gap: 10px;
  align-items: center;
}
.help_chat_message_send button:active {
  transform: scale(1.02);
}
.help_chat_message_send textarea:focus {
  border: 1.5px solid #78be20;
}
.help_chat_message_send textarea {
  height: 60px;
  width: 90%;
  outline: none;
  border-radius: 10px;
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 17px;
}
.help_chat_message_send textarea::-webkit-scrollbar {
  display: none;
}
.help_chat_message_send button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(to right, #089c08, #6dc212 80%);
}
.admin_message_send_icon {
  font-size: 30px;
  padding-left: 5px;
  cursor: pointer;
  color: white;
}
.admin_outgoing_message {
  align-self: flex-end;
  background-color: #089c08;
  box-shadow: 0px 0.5px 5px 0.5px rgba(15, 0, 0, 0.6);
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  margin: 5px 0px;
  max-width: 70%;
  word-wrap: break-word;
  color: white;
}
.admin_incomming_message {
  background-color: #fff;
  box-shadow: 0px 0.5px 5px 0.5px rgba(15, 0, 0, 0.6);
  padding: 5px 10px 5px 10px;
  max-width: 60%;
  border-radius: 5px;
  width: max-content;
  word-wrap: break-word;
  margin: 5px 0px;
}
.help_chat_no_message {
  height: 100%;
  background-image: url("/public/image/nomessage.png");
  background-position: center;
  background-size: cover;
}
.clear_chat_button {
  position: absolute;
  left: 95%;
  border: none;
  background-color: white;
  cursor: pointer;
}
.clear_chat_icon {
  font-size: 28px;
  color: #45c40a;
}
.clear_chat_button:active {
  transform: scale(1.03);
}
@media (max-width: 400px) {
  .help_chat_container {
    width: 95%;
    left: 2%;
  }
  .help_chat_heading {
    font-size: 20px;
  }
  .help_chat_user_heading h1 {
    font-size: 25px;
  }
  .chat_user_icon {
    margin-right: 10px;
    font-size: 35px;
  }
  .help_chat_user_area {
    width: 30%;
  }
  .help_chat_user_name {
    display: none;
  }
  .help_chat_user {
    width: 60%;
  }
  .help_chat_no_message {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .clear_chat_button {
    left: 90%;
  }
  .admin_incomming_message{
    max-width: 93%;
  }
  .admin_outgoing_message{
    max-width: 93%;
  }
  .help_chat_message_head_body{
    padding:10px 7px;
  }
}
@media (min-width: 401px) and (max-width: 500px) {
  .help_chat_container {
    width: 95%;
    left: 2%;
  }
  .help_chat_heading {
    font-size: 20px;
  }
  .help_chat_user_heading h1 {
    font-size: 25px;
  }
  .chat_user_icon {
    margin-right: 10px;
    font-size: 35px;
  }
  .help_chat_user_area {
    width: 30%;
  }
  .help_chat_user_name {
    display: none;
  }
  .help_chat_user {
    width: 50%;
  }
  .help_chat_no_message {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .help_chat_user_area {
    align-items: center;
  }
  .clear_chat_button {
    left: 90%;
  }
}

/* ***********************************************CHAT LOADER************************************************ */

.chat-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
}
.loader-wrapper {
  position: absolute;
  height: 88%;
  width: 70%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px); /* Safari 9+, Safari on iOS 9+ */
  -moz-backdrop-filter: blur(5px); /* Firefox */
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Adjust the alpha value for the desired opacity */
}
.typing-indicator {
  display: flex;
}

.typing-indicator span {
  width: 20px;
  height: 20px;
  background-color: #65b00b;
  border-radius: 50%;
  margin-right: 5px;
  animation: typing 0.8s infinite ease-in-out;
}

.typing-indicator span:nth-child(2) {
  animation-delay: 0.3s;
}

.typing-indicator span:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes typing {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.8);
  }
}

@media (min-width: 501px) and (max-width: 600px) {
  .help_chat_container {
    width: 95%;
    left: 2%;
  }
  .help_chat_heading {
    font-size: 20px;
  }
  .help_chat_user_heading h1 {
    font-size: 25px;
  }
  .chat_user_icon {
    margin-right: 10px;
    font-size: 35px;
  }
  .help_chat_user_area {
    width: 30%;
  }
  .help_chat_user_name {
    display: none;
  }
  .help_chat_user {
    width: 35%;
  }
  .help_chat_no_message {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .help_chat_user_area {
    align-items: center;
  }
}
@media (min-width: 601px) and (max-width: 800px) {
  .help_chat_container {
    width: 90%;
    left: 5%;
  }
  .help_chat_heading {
    font-size: 20px;
  }
  .help_chat_user_heading h1 {
    font-size: 25px;
  }
  .chat_user_icon {
    margin-right: 10px;
    font-size: 35px;
  }
  .help_chat_user_area {
    width: 40%;
  }
  .help_chat_no_message {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
