.profile_image{
    position: relative;
    margin: 5px;
    top: -20px;
    left: 30%;
}

.profile_image img {
    height: 120px;
    width: 120px;
    border-radius: 100%;
    border: 4px solid #78be20;
}
.profile_image>input{
    display: none;
}